# Ignore build outputs
/x64/
/Debug/
/Release/

# Ignore Visual Studio temporary files
*.ilk
*.pdb
*.idb
*.tlog
.vs/
*.vcxproj.user
x64/
*.obj
*.exe.recipe
# Ignore logs and temporary files
*.log
*.tmp
